.page{
    padding-top: 45px; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%; 
}

@media screen and (max-width:320px) {
    .page{
        padding-top: 28px;
    }
    
}