.profile__info{
    display: grid;
    grid-template-columns: repeat(2,min-content);
    grid-template-rows: repeat(2,min-content);
    column-gap: 18px;
    row-gap: 7px;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "name btn"
    "desc desc";
}